# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Flask-related
instance/
*.log

# Pytest / coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Env / secrets
.env
.env.*

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
*.db
docker-compose.override.yml
